
*{

    border: 0;
    padding: 0;
    margin: 0;
}

a:link,a:visited, a:hover, a:active{
    color: rgba(255, 255, 255, 0.87);
    text-decoration: none;
}

body{

    height: 100vh;
    display: flex;
    font-family:"Open Sans";
    background-color: #e7e4df;
}

h2{
    padding: 2rem;
}

.left-banner{
    background-image: url(./img/amsterdam.jpg);
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    

    display: flex;
    flex-direction: column;
    min-width: max(33%, 200px);
    background-color: darkgrey;
    opacity: 90%;
}

.banner{
    display: flex;
    background-color: #5b442c;
    opacity: 53%;
    position: absolute;
    top: 20%;
    height:  max(100px, 33%);
    width: 100%;
}
#logo{
    min-height: 100px;
    height: auto;
    width: 33%;
}

#banner-title{
    padding: 2%;
    display: flex;
    position: absolute;
    top: 20%;
    align-items: center;
    width: 100%;
    text-align: center;

    margin-left: 5%;
    font-size: clamp(1rem, 2.5vw, 2rem);
    color: #e9ecf1;
    
 
}

#banner-footer{
   
    position: absolute;
    bottom:0;
    width: 100%;
    color: rgba(255, 255, 255, 0.87);
    text-align: center;
}


.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    overflow: auto;
    width: 100%;
    
    

}


.description{
    flex: 1 1 auto;
    text-align: left;
    padding: 5%;
    font-size: clamp(1rem, 2vw, 1.5rem);
    border: 1px blue dotted;


}

#wanderers-info-container{
    display: flex;
    align-items: center;

}

#wanderers-info-container input{
    background-color: #e7e4df;
    outline: none;
}

#wanderers-info-container input:hover{
    font-size: 16px;
}

#wanderers-text{
font-weight: 100;
margin-right: 2rem;
}



.sign-up-form{
    padding: 1rem;
    flex: 1 auto;
    width:100%;
    box-sizing: border-box;
    background-color: #e9ecf1;
    box-shadow: 0px 5px 10px #b7bdc79c;
    outline: red solid 1px;
    
}

.form-container{
    display: flex;
    flex-wrap: wrap;

    margin-left: 5%;
    margin-right: 5%

  
   
}


.form-container label{
    font-family: 'Alegreya Sans SC', sans-serif;
    display: flex;
    flex-direction: column;
    width: 16rem;
    margin-top: 1rem;

}



.form-container input{
    width: 12rem;
    height: 2rem;
    font-size: 18px;
    border: 1px solid rgba(197, 197, 197, 0.678);
    border-radius: 5px;
    padding-left: 5%;
}


.buttons{
    display: flex;
    padding-top: 5%;
    position: sticky;
    flex-direction:column;
    align-items: flex-start;
    gap: min(1rem, 10px);
    flex: 1 2 auto;
    font-style: italic;
    min-width: 25%;
    margin-left: 3rem;


}

.button{
    padding: 1rem;
    margin-bottom: 2%;
    margin-right: 10%;
    background-color: #5b442c85;
    color: #e9ecf1;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 10px;

    border: 1px solid #5b442c85;

    box-shadow: 0px 5px 10px #b7bdc7c0;
}

.button:hover{
    outline:2px solid #5b442c85;
    background-color: #5b442c94;
}

#login-container{
    display: flex;
    width: 25%;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

#create-account{
    font-size: 2rem;
}

label{

    flex-direction: column;
}

select{
    color: black;
}

input:focus{
    outline: 2px solid rgb(124, 131, 228);
}




.error{

    outline: 2px rgb(212, 13, 13) solid;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 25%;
    top: 40%;
    width: 70%;
    height: 50%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: #5b442c85;
}

.modal-content{
    font-size: clamp(1rem, 2vw, 1.5rem);
    background-color: #e9ecf1;
    margin: 10% auto;
    padding: 10px;
    border: 1px solid #5b442c;
    width: 80%;
 
}

.close-button{
    color: black;
    float: right;
    font-weight: bold;
    font-size: 24px;
}

.inactive{
    opacity: 60%;
    background-color: #868686;
    pointer-events: none;
}


@media only screen and (max-width: 768px) {

    .description{
        max-height: 30%;
        font-size: .75rem;
    }



    .buttons{
        max-height: 10%;
    }

    #banner-title{
        flex-direction: column;
        align-items: flex-start;
        font-size: .75rem;
        transform: scale(.75);
    
    }

    #banner-title img{
            height: 1rem;
            width: auto;
        
    }
    
    .left-banner{
    
    min-width: min(25%, 9rem);

    }

}
